@property --sfsu-colors-purple {
    syntax: "<color>";
    inherits: false;
    initial-value: #231161;
}

@property --sfsu-colors-gold {
    syntax: "<color>";
    inherits: false;
    initial-value: #C99700;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-display: optional;
}

main, header {
    padding: 0 3em;
}

pre {    
    white-space: pre-wrap; 
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
}

footer {
    background-color: var(--sfsu-colors-purple);
    padding: 3em;
    color: var(--sfsu-colors-gold);
    font-weight: 500;
}